<%- include ('../partials/header') %>
    <% if (isLoggedIn) { %>
        <% if (isAdmin) { %>
            <button class="button">Add Catalogue</button>
        <% } %>
    <% } %>
    <div class="catalogue-container">
        <div class="card">
            <h1>Welcome</h1>
        </div>
        <div class="card">
            <h1>Welcome 2</h1>
        </div>
        <div class="card">
            <h1>ABCD</h1>
        </div>
        <div class="card">
            <h1>AAAAA</h1>
        </div>
        <div class="card">
            <h1>BBBBB</h1>
        </div>
        <div class="card">
            <h1>GDFBFF</h1>
        </div>
    </div>
<%- include ('../partials/footer') %>