<%- include ('../partials/header') %>
    <table>
        <tr>
            <td>
                <div class="card">
                    <h1>Wedding Photography Examples</h1>
                </div>
                <div class="card">
                    <h1>List some top rated catalogues</h1>
                </div>
                <div class="card">
                    <h1>Reviews from users</h1>
                </div>
                <div class="card">
                    <h1> Add google map location</h1>
                </div>
                <div class="card">
                    <h1> Studio Photos</h1>
                </div>
            </td>
        </tr>
    </table>
<%- include ('../partials/footer') %>